{% extends "base.html" %}

{% load wagtailcore_tags  wagtailimages_tags %}

{% block body_class %}template_blogindexpage{% endblock %}

{% block content %}
    <h1>{{page.title}}</h1>

    <div class="intro">{{page.intro|richtext}}</div>

    <!-- get_children:基底クラスPageのインスタンスのリストを返す -->
    <!-- {#% for post in page.get_children %#} -->
    {% for post in blogpages %}
    <!-- titleは基底のPageモデルにあるけど、introなどはPageモデルにはなくて自分で追加したから、.specificがいる -->
        {% with post=post.specific %}
            <!-- pageurlタグ　Djangoのurlタグのような感じ -->
            <h2><a href="{% pageurl post %}">{{post.title}}</a></h2>

            {% with post.main_image as main_image %}
                {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
            {% endwith %}

            <p>{{post.specific.intro}}</p>
            {{post.body|richtext}}
        {% endwith %}
    {% endfor %}

{% endblock %}
